<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PersonalFinance.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>12</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8CE77F7D8789270AAB405982CD946FEAF27EB0DF</string>
				<key>dateExpires</key>
				<string>8/22/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3836.1754411919</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CE77F7D8789270AAB405982CD946FEAF27EB0DF</string>
						<key>dateExpires</key>
						<string>8/22/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LinkKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PCF35Z22GD</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>6.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CE77F7D8789270AAB405982CD946FEAF27EB0DF</string>
						<key>dateExpires</key>
						<string>8/22/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WebRTC.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PCF35Z22GD</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8CE77F7D8789270AAB405982CD946FEAF27EB0DF</string>
						<key>dateExpires</key>
						<string>8/22/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PCF35Z22GD</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PCF35Z22GD.com.mama.personalfinance</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>PCF35Z22GD</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>PCF35Z22GD.com.mama.personalfinance</string>
				</array>
			</dict>
			<key>name</key>
			<string>PersonalFinance.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0b85f501-8119-4574-9aa3-30fab85142cf</string>
				<key>dateExpires</key>
				<string>8/22/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.mama.personalfinance</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PCF35Z22GD</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
